/* .recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

@media (max-width: 580px) {
  .recipe-list {
    display: block;
  }
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
